@font-face {
		font-family: "Bookinsanity";
		src: url("./fonts/Bookinsanity/Bookinsanity.otf") format("opentype");
		font-weight: normal;
	}
@font-face {
		font-family: "Bookinsanity Bold Italic";
		src: url("./fonts/Bookinsanity/Bookinsanity Bold Italic.otf") format("opentype");
		font-weight: bold;
	}
@font-face {
		font-family: "Solbera Imitation";
		src: url("./fonts/Solbera Imitation/Solbera Imitation.otf") format("opentype");
		font-weight: normal;
	}
@font-face {
		font-family: "Scaly Sans Caps Italic";
		src: url("./fonts/Scaly Sans Caps/Scaly Sans Caps Italic.otf") format("opentype");
		font-weight: normal;
		font-style: italic;
	}
@font-face {
		font-family: "Scaly Sans Caps Bold";
		src: url("./fonts/Scaly Sans Caps/Scaly Sans Caps Bold.otf") format("opentype");
		font-weight: bold;
		font-style: normal;
	}
@font-face {
		font-family: "Scaly Sans Caps Bold Italic";
		src: url("./fonts/Scaly Sans Caps/Scaly Sans Caps Bold Italic.otf") format("opentype");
		font-weight: bold;
	}
	
@font-face {
		font-family: "Scaly Sans Caps";
		src: url("./fonts/Scaly Sans Caps/Scaly Sans Caps.otf") format("opentype");
		font-weight: normal;
	}
@font-face {
		font-family: "Scaly Sans Italic";
		src: url("./fonts/Scaly Sans/Scaly Sans Italic.otf") format("opentype");
		font-weight: normal;
		font-style: italic;
	}
	
@font-face {
		font-family: "Scaly Sans Bold";
		src: url("./fonts/Scaly Sans/Scaly Sans Bold.otf") format("opentype");
		font-weight: bold;
		font-style: normal;
	}
@font-face {
		font-family: "Scaly Sans Bold Italic";
		src: url("./fonts/Scaly Sans/Scaly Sans Bold Italic.otf") format("opentype");
		font-weight: bold;
		font-style: italic;
	}
@font-face {
		font-family: "Scaly Sans";
		src: url("./fonts/Scaly Sans/Scaly Sans.otf") format("opentype");
		font-weight: normal;
	}
@font-face {
		font-family: "Mr Eaves Small Caps";
		src: url("./fonts/Mr Eaves/Mr Eaves Small Caps.otf") format("opentype");
		font-weight: normal;
	}
@font-face {
		font-family: "Nodesto Caps Condensed Italic";
		src: url("./fonts/Nodesto Caps Condensed/Nodesto Caps Condensed Italic.otf") format("opentype");
		font-weight: normal;
		font-style: italic;
	}
@font-face {
		font-family: "Nodesto Caps Condensed Bold";
		src: url("./fonts/Nodesto Caps Condensed/Nodesto Caps Condensed Bold.otf") format("opentype");
		font-weight: bold;
		font-style: normal;
	}
@font-face {
		font-family: "Nodesto Caps Condensed Bold Italic";
		src: url("./fonts/Nodesto Caps Condensed/Nodesto Caps Condensed Bold Italic.otf") format("opentype");
		font-weight: bold;
	}
	
@font-face {
		font-family: "Nodesto Caps Condensed";
		src: url("./fonts/Nodesto Caps Condensed/Nodesto Caps Condensed.otf") format("opentype");
		font-weight: normal;
	}
@font-face {
		font-family: "Zatanna Misdirection Italic";
		src: url("./fonts/Zatanna Misdirection/Zatanna Misdirection Italic.otf") format("opentype");
		font-weight: normal;
		font-style: italic;
	}
@font-face {
		font-family: "Zatanna Misdirection Bold";
		src: url("./fonts/Zatanna Misdirection/Zatanna Misdirection Bold.otf") format("opentype");
		font-weight: bold;
		font-style: normal;
	}
@font-face {
		font-family: "Zatanna Misdirection Bold Italic";
		src: url("./fonts/Zatanna Misdirection/Zatanna Misdirection Bold Italic.otf") format("opentype");
		font-weight: bold;
	}
@font-face {
		font-family: "Zatanna Misdirection";
		src: url("./fonts/Zatanna Misdirection/Zatanna Misdirection.otf") format("opentype");
		font-weight: normal;
	}
@font-face {
		font-family: "Bookinsanity Italic";
		src: url("./fonts/Bookinsanity/Bookinsanity Italic.otf") format("opentype");
		font-weight: normal;
		font-style: italic;
	}
@font-face {
		font-family: "Bookinsanity Bold";
		src: url("./fonts/Bookinsanity/Bookinsanity Bold.otf") format("opentype");
		font-weight: bold;
		font-style: normal;
	}
	
@font-face {
    font-family: 'Veteran Typewriter';
    src: url('fonts/VeteranTypewriter.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}